# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out
/MDK-ARM/smart_door_lock
/MDK-ARM/smart_door_lock.uvoptx
/MDK-ARM/smart_door_lock.uvguix.*

# config file
/Config/config.h

# eide template
*.ept
*.eide-template
